.row
  .center
    %h2= @article.name
  .row.br-md
    .col-lg-4
      %a{href: "#", class: "thumbnail"}
        %img{src: "http://placehold.it/350x350"}
    .col-lg-8
      .center
        %h3 Description
      %p.description= @article.description 
      .row
        .col-lg-6.br-md.center
          %h4 Shipping details
        .col-lg-6.br-md.center
          %h4 Price
          .col-lg-6
            %span.price= "$ #{@article.price}"
          .col-lg-6
            %a{class: "btn btn-success btn-large"} BUY NOW
.row
  .center
    .page-header
      %h2 Questions

.row 
  = form_tag new_question_path(@article), :id => @article.id,:method => :post do
    .form-group
      = text_field_tag :content, nil, class: "form-control", id: "focusedInput", placeholder: "Ask a question to the seller"
      .br-sm.right
        %button{class: "btn btn-info btn-large"} Ask Question

.row.br-md
  - @questions.each do |question|
    .well.well-lg
      = question.created_at
      .row
        .well.well-sm.answer
          = question.content
