.page-header.center
  %h2 Edit Profile
.col-lg-6.col-lg-offset-3.well.br-sm
  .br-sm
    = form_tag edit_user_path(@user), :class => "form-horizontal", :method => :post do
      .form-group
        = label_tag :username, nil, :class => "col-lg-3 control-label"
        .col-lg-9
          = text_field_tag :username, @user.username, :name => :username, :class => "form-control"
      .form-group
        = label_tag :first_name, nil, :class => "col-lg-3 control-label"
        .col-lg-9
          = text_field_tag :first_name, @user.first_name, :name => :first_name, :class => "form-control"
      .form-group
        = label_tag :last_name, nil, :class => "col-lg-3 control-label"
        .col-lg-9
          = text_field_tag :last_name, @user.last_name, :name => :last_name, :class => "form-control"
      .row
        .col-lg-6
          .form-group
            = label_tag :age, nil, :class => "col-lg-3 control-label"
            .col-lg-9
              = text_field_tag :age, @user.age, :name => :age, :class => "form-control"
        .col-lg-6
          .form-group
            = label_tag :gender, nil, :class => "col-lg-3 control-label"
            .col-lg-9
              = select_tag :gender, options_for_select(["Male", "Female"], @user.gender), :name => :gender, :class => "form-control"
      .form-group
        = label_tag :street, nil, :class => "col-lg-3 control-label"
        .col-lg-9
          = text_field_tag :street, @user.street, :name => :street, :class => "form-control"
      .form-group
        = label_tag :city, nil, :class => "col-lg-3 control-label"
        .col-lg-9
          = text_field_tag :city, @user.city, :name => :city, :class => "form-control"
      .form-group
        = label_tag :state, nil, :class => "col-lg-3 control-label"
        .col-lg-9
          = text_field_tag :state, @user.state, :name => :state, :class => "form-control"
      .form-group
        = label_tag :zip_code, nil, :class => "col-lg-3 control-label"
        .col-lg-9
          = text_field_tag :zip_code, @user.zip_code, :name => :zip_code, :class => "form-control"
      .form-group
        = label_tag :email, nil, :class => "col-lg-3 control-label"
        .col-lg-9
          = text_field_tag :email, @user.email, :name => :email, :class => "form-control"
      .form-group.br-sm.right
        = submit_tag "Save Changes", :class => "btn btn-success"

