.page-header.center
  %h2= "Hello #{@user.username}"

.row
  .col-lg-10.col-lg-offset-1
    .col-lg-6
      %img{src: "http://placehold.it/200x200"}
      .row
        %h3  Profile Information
        .col-lg-3
          %p Name: 
          %p Last Name:  
          %p Email: 
        .col-lg-9
          %p= @user.first_name 
          %p= @user.last_name
          %p= @user.email
      .row.br-md
        %h3 Shipping information
        .col-lg-3
          %p Street: 
          %p City: 
          %p State:
          %p Zip Code:
        .col-lg-9
          %p= @user.street
          %p= @user.city
          %p= @user.state
          %p= @user.zip_code
    .col-lg-6
      %h3.center Latest Transactions
      .row.br-md
        .media
          - @user_articles.each do |article|
            %img{src: "http://placehold.it/80x80", class: "left"}
            .media-body
              %a{href: article_path(article)}
                %h4.media-heading= article.name
              = article.description
              .br-md
                = link_to "Delete Article", article_path(article), :method => :delete
.row
  .br-lg.center
    = link_to "Edit Profile", edit_user_path(@user), class: "btn btn-warning btn-sm"
    = link_to "Delete Profile", user_path(@user), method: :delete, class: "btn btn-danger btn-sm"
